@import './functional.css';
@import './number.css';
@import 'qwerty.css';
@import 'arrow-container.css';
@import 'control.css';
@import 'numpad.css';
/* TODO: Fix the style, still it is not very stable */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    /* width: 100%; */
    padding: unset;
    margin: unset;
}

#error {
    background: red;
    color: white;
    opacity: 0;
    width: 100%;
    height: 2rem;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
    font-weight: bold;
}
#indicator {
    height: 0.25rem;
    margin-top: 0.5rem;
    background: white;
    width: 100%;
    transition: width 0.1s ease;
}
#text-area {
    flex: 1;
    width: 80%;
    height: 100%;
    font-size: 1rem;
}

.prim-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.keyboard-container {
    flex: 1;
    background-color: black;
    display: flex;
    padding: 2rem;
    border-radius: 1rem;
    /* margin: 1rem; */
    /* height: 20rem; */
}

@media screen and (max-width: 1440px) {
    .keyboard-container {
        transform: scale(0.60);
    }
}
@media screen and (max-width: 1024px) {
    .keyboard-container {
        transform: scale(0.40);
    }
}

.control-section {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.num-section {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.basic-key {
    border: 1px solid white;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.5s ease;
    transition: background 0.5s ease;
}
.basic-key:hover {
    border: 1px solid black;
    color: black;
    background: white;
}
.functional-key {
    height: 2rem;
    width: 4rem;
    margin:0.5rem;
    line-height: 2rem;
}
.num-key, .querty-keys {
    height: 4rem;
    width: 4rem;
    margin:0.5rem;
    line-height: 4rem;
}

.num-key-multi, .querty-keys-multi {
    height: 4rem;
    width: 4rem;
    margin:0.5rem;
    line-height: 2rem;
}


.control-keys {
    height: 4rem;
    width: 4rem;
    margin:0.5rem;
    line-height: 2rem;
}

.caps-lock {
    color: white;
    padding: 2rem 0;
    display: flex;
    align-items: center;
}

#caps-indicator {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    margin: 0 0.5rem;;
}
.caps-indicator-off {
    background: white;
}
.caps-indicator-on {
    background: green;
}