@import './functional.css';
@import './number.css';
@import 'qwerty.css';
@import 'arrow-container.css';
@import 'control.css';
@import 'numpad.css';
body {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 90vh;
    padding: unset;
}

.keyboard-container {
    background-color: black;
    display: flex;
    padding: 2rem;
    border-radius: 1rem;
}

.control-section {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.num-section {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.basic-key {
    border: 1px solid white;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.5s ease;
    transition: background 0.5s ease;
}
.basic-key:hover {
    border: 1px solid black;
    color: black;
    background: white;
}
.functional-key {
    height: 2rem;
    width: 4rem;
    margin:0.5rem;
    line-height: 2rem;
}
.num-key, .querty-keys {
    height: 4rem;
    width: 4rem;
    margin:0.5rem;
    line-height: 4rem;
}

.num-key-multi, .querty-keys-multi {
    height: 4rem;
    width: 4rem;
    margin:0.5rem;
    line-height: 2rem;
}


.control-keys {
    height: 4rem;
    width: 4rem;
    margin:0.5rem;
    line-height: 2rem;
}